*{
    margin: 0;
}

#hero-section {
    background-image: url("../img/bg-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
  

#experiencia{

    background-image: url("../img/bg-experiencia-3.jpg" );
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: right;
    

}